MONGODB_URI=
ALLOWED=*
ACCESS_TOKEN_S=
ACCESS_TOKEN_E=1d
REFRESH_TOKEN_S=
REFRESH_TOKEN_E=

# to generate long secret  
# npx -y node -e "console.log(require('crypto').randomBytes(256).toString('base64url'))"

